$lightGreen : #b9e7e7;

.app{
    display: flex;
        justify-content: center;
    .container{

        width: 1024px;
        

        //For Login and Register
        .Auth{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            background-color: $lightGreen;


            form{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px;
                border-radius: 5px;
                background-color: white;
                gap: 10px;

                input{
                    width: 200px;
                    border:none;
                    border-bottom: 1px solid gray;
                    padding: 10px;
                }

                button{
                    width: 200px;
                    padding: 10px;
                    margin-top: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: teal;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }

                p{
                    font-size: 12px;
                    text-align: center;
                    color: red;
                    margin-bottom: 0px;
                    padding: 10px;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                    padding: 10px;
                    margin: 10px;
                    margin-top: 0px;
                    padding-top: 0px;
                }
            }
        }

        .navbar{
            .container{
                padding:10px 0px;
                display:flex;
                justify-content: space-between;
                align-items:center;

                .logo{
                    img{
                        display: flex;
                    width:120px; 
                }
                    }

                .links{
                    display:flex;
                    align-items:center;
                    gap:20px;

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                        text-decoration: none;
                        color: black;
                    }
                    .link{
                        text-decoration: none;
                        color: black;
                    }
                    span{
                        cursor:pointer;
                    }

                    .write{
                        background: $lightGreen;
                        color: white;
                        font-weight: 300;
                        padding:10px;
                        border-radius: 50%;
                        border:solid 1px $lightGreen;

                        &:hover{
                            color:teal;
                            background: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        footer{
            margin-top:100px;
            padding:20px;
            background: $lightGreen;
            display:flex;
            justify-content:space-between;
            align-items:center;
            font-size: 12px;

            img{
                height:50px;
            }
        }
    }
}